@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-from-bottom {
  animation: slideIn 1.5s ease forwards;
}

/* New CSS for centering text */
/* .centered-text-container { */
/*   position: absolute; */
/*   top: 50%; */
/*   left: 50%; */
/*   transform: translate(-50%, -50%); */
/*   text-align: center; */
/*   width: 100%; */
/* } */

